[submodule "Raphael.FreeTransform"]
	path = Raphael.FreeTransform
	url = https://github.com/ElbertF/Raphael.FreeTransform.git
[submodule "raphael"]
	path = raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "jquery-mousewheel"]
	path = jquery-mousewheel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
